parameters:
	ignoreErrors:
		-
			message: "#^Creating new ReflectionObject is a runtime reflection concept that might not work in PHPStan because it uses fully static reflection engine\\. Use objects retrieved from ReflectionProvider instead\\.$#"
			count: 1
			path: src/Type/WebMozartAssert/AssertTypeSpecifyingExtension.php
