<phpunit
		bootstrap="bootstrap.php"
		colors="true"
		backupGlobals="false"
		backupStaticAttributes="false"
		beStrictAboutChangesToGlobalState="true"
		beStrictAboutOutputDuringTests="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		beStrictAboutTodoAnnotatedTests="true"
		failOnRisky="true"
		failOnWarning="true"
		cacheResult="false"
/>
